{% load static %}
<!DOCTYPE html>
<html>
<head>

    <style>
        form {
          max-width: 500px;
          margin: 10px auto;
          padding: 10px 20px;
          background: #f4f7f8;
          border-radius: 8px;
        }
    </style>
	

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'Coupons/main.css' %}">
	
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}    
    {% endif %}
    
	<button class="btn btn-outline-info" style="float:right" onclick="location.href='{% url 'Coupons' %}'">View Coupons</button>
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb=4">Coupon Generator</legend>
				<p> Category {{ form_su.category }} </p>
				<p> Code: {{ form_su.code }} 
					<button class="btn btn-outline-info" onclick="generate()" type="button">Generate</button>
				</p>
						<p> Description: {{ form_su.description }} </p>
						<p> Valid from: {{ form_su.valid_from }} YYYY-MM-DD </p>
						<p> Valid till: {{ form_su.valid_till }} YYYY-MM-DD </p>
						<p> Active: {{ form_su.active }} </p>
				
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Save</button>
			</div>
		</form>		
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
    	function generate(){
    		var code_chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ';
     		var code_10 = '';
     		var code_8 = '';

     		if (document.getElementById("id_category").value == 'Admin'){
     			for(var i=0;i<10;i++){
     			var slice_start = Math.floor(Math.random() * 35) + 1;
     			code_10 += code_chars.slice(slice_start, slice_start + 1);
     		}
     		document.querySelector("#id_code").value = code_10;
     		}

     		else if (document.getElementById("id_category").value == 'Member'){
     			for(var i=0;i<8;i++){
     			var slice_start = Math.floor(Math.random() * 35) + 1;
     			code_8 += code_chars.slice(slice_start, slice_start + 1);
     		}
     		document.querySelector("#id_code").value = code_8;
     		}
    	}
    </script>

</body>
</html>
